{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="ftco-section bg-light">
    <div class="container">

        <div class="col-md-12 d-flex">
            <div class="appointment-wrap bg-white p-4 p-md-5 d-flex align-items-center">
                <form action="{% url 'call_district_doctor' %}" class="appointment-form ftco-animate" method="post">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group">
                            {{ form.doctor }}
                        </div>
                        <div class="form-group">
                            {{ form.patient }}
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            {{ form.address }}

                        </div>
                        <div class="form-group">
                            {{ form.data }}
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <input type="submit" value="Шақыру" class="btn btn-secondary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}