{% extends 'base.html' %}
{% load static %}
{% load account %}
{% block title %}Тіркелу{% endblock %}

{% block content %}

<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
    <div class="container text-white">
        <br>
        <br>
        <br>
    </div>
</section>


<section class="vh-300" style="background-color: #207dff;">
    <div class="container py-5 h-300">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Тіркелу</h3>
                        <form class="login" method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                             <h5 class="mb-5" style="color: red;">{{ error }}</h5>
                            <div class="form-outline mb-4">
                                {{ form.username }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.password1 }}

                            </div>

                            <div class="form-outline mb-4">
                                {{ form.password2 }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.first_name }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.last_name }}

                            </div>


                            <div class="form-outline mb-4">
                                {{ form.phone }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.email }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.jsn }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.gender }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.birthday }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.national }}

                            </div>
                            <div class="form-outline mb-4">
                                {{ form.address }}

                            </div>



                            <button class="btn btn-primary py-3 px-4" type="submit">Тіркелу</button>
                            <div class="form-outline mb-4">
                                <h5><a href="{% url 'account_login' %}">Жүйеде бұрын тіркелгенсіз бе?</a></h5>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}